.wrapper {
	font-family: Arial, "Times New Roman", Verdana;
	width: 100%;
	display: table;
}

.container {
	max-width: 58.625em;
	padding: 0em 1.9375em 0em 2.0625em;
	margin: 0em auto;
}

/*************Header***********/
.header-wrapper {

}

.header-wrapper .logo-bar {
	padding: 20px 0px 16px 0px;
	background-color: #7dd9e8;
}

.header-wrapper img.logo {
	max-width: 100%;
	margin: 0% auto;
}

.header-wrapper .search-bar {
	padding: 20px 0px 9px 0px;
	text-align: center;
}

.header-wrapper .search-bar input.search-input {
	height: 12px;
	width: 243px;
	padding: 4px 25px 4px 8px;
	font-size: 10px;
	background-image: url("../images/search.png");
	background-repeat: no-repeat;
	border: none;
}

.header-wrapper .search-bar button.search-button {
	height: 20px;
	width: 53px;
	margin-top: 10px;
	color: white;
	font-size: 10px;
	background-image: url("../images/search-button.png");
	background-repeat: no-repeat;
	border: none;
}

.header-wrapper .user-bar {
	height: 34px;
	width: auto;
	padding: 8px 0px 7px 0px;
	float: right;
}

.header-wrapper .main-menu {
	background-color: #f5f5f5;
}

.header-wrapper .main-menu .menu {
	width: auto;
}

.header-wrapper .main-menu .notification {
	font-size: 10pt;
	width: auto;
}

/************Main Container************/
.content-wrapper {
	padding: 30px 0px 32px 0px;
}

.col-3-right {
	background-size: contain;
	background-position: center;
	background-repeat: repeat-y;
}

.col-2-left {
	width: 100%;
}

.col-2-left .left {
	display: none;
}

.col-2-left .left .left-list {
	width: 89.9408284%;
	float: left;
}

.col-2-left .left .right-list {
	width: 7.10059172%;
	float: right;
}

.col-2-left .main {
	width: 98%;
	padding: 0% 1%;
}

.col-2-left .main .tab-seperator {
	padding: 0.875em 0em 0.8125em 0em;
	background-image: url("../images/tab-seperator.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: none;
}

.col-2-left .main .tab-seperator .left {
	width: 50%;
	font-size: 0.5625em;
	text-align: center;
	float: left;
}

.col-2-left .main .tab-seperator .right {
	width: 50%;
	font-size: 0.5625em;
	text-align: center;
	float: right;
}

.right {
	width: 100%;
	display: none;
}

/************Footer************/
.footer-wrapper {
	padding: 1.1875em 0em 1.125em 0em;
	background-color: #727272;
}

.footer-wrapper .footer-menu {
	width: 100%;
	text-align: center;
}

.footer-wrapper .copyright {
	margin-top: 15px;
	width: 100%;
	text-align: center;
	color: #d4d4d4;
}

/*************Container Clearfix*************/
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
} 

.clearfix:after {
	clear: both;
}

/***************Common Styles***************/
.panel .panel-heading {
	padding: 15px 12px;
	line-height: 12px;
	font-size: 14px;
	color: white;
	background-color: #2fc1da;
}

.panel .panel-body {
	background-color: transparent;
}

.panel .panel-body ul li {
	padding: 11px 7.21649485% 9px 5.67010309%;
	font-size: 12px;
	line-height: 14px;
	display: block;
}

.panel .panel-body ul li:hover {
	background-color: white;
}

.panel .panel-body ul li a span {
	float: right;
}

.panel .panel-body ul.top-search li a.right-list span {
	height: 12px;
	width: 12px;
	background-image: url("../images/download.png");
	background-repeat: no-repeat;
}

.panel .panel-body ul.another-search li a.right-list span {
	height: 12px;
	width: 12px;
	background-image: url("../images/menu.png");
	background-repeat: no-repeat;
}
