.invite-icon {
	content: url("../images/invite-icon.png");
}

.friend-request-icon {
	content: url("../images/friend-request-icon.png");
}

.text-info {
	color: #0000ff;
}

.text-danger {
	color: #dd0000;
}

.text-success {
	color: #00dd00;
}
