.invite-icon {
	content: url("../images/invite-icon.png");
}

.friend-request-icon {
	content: url("../images/friend-request-icon.png");
}

.text-info {
	color: #50afc1;
	font-weight: bold;
}

.text-danger {
	color: #d33f19;
	font-weight: bold;
}

.text-success {
	color: #709722;
	font-weight: bold;
}

.uppercase {
	text-transform: uppercase;
}

/**************Header****************/
.header-wrapper .user-bar .user-name {
	text-align: right;
	padding: 0px 0px 5px 0px;
	font-size: 14px;
	line-height: 12px;
}

.header-wrapper .user-bar .user-menu {
	float: left;
}

.header-wrapper .user-bar .user-menu ul li {
	float: left;
	padding: 5px 0px 0px 0px;
	line-height: 12px;
	font-size: 12px;
}

.header-wrapper .user-bar .user-menu ul li+li:before {
	padding: 0px 5px;
	content: "|";
}

.header-wrapper .main-menu .menu ul li {
	padding: 15px 8px;
	line-height: 10px;
	font-size: 14px;
	text-align: center;
}

.header-wrapper .main-menu .menu ul li:hover, .header-wrapper .main-menu .menu ul li.active {
	background-color: white;
}

.header-wrapper .main-menu .menu ul li+li:before {
	padding: 0px 7px;
	content: "";
}

.header-wrapper .main-menu .notification ul li {
	padding: 12px 0px;
	line-height: 16px;
	font-size: 12px;
	text-align: center;
}

.header-wrapper .main-menu .notification ul li a {
	line-height: 16px;
}

.header-wrapper .main-menu .notification ul li.disabled a {
	color: grey;
}

/************Main Container************/
.col-2-left .main .heading {
	line-height: 22px;
	font-size: 12pt;
	font-weight: bold;
	padding-bottom: 12px;
}

.col-2-left .main .tab-menu {
	padding: 0px 0.19305019%;
	background-image: url("../images/tab-menu.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.col-2-left .main .tab-menu ul li a {
	width: 23.35907336%;
	margin: 0% 0.77220077%;
	padding: 10px 0px;
	font-size: 0.5625em;
	text-align: center;
	background-image: url("../images/inactive.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	float: left;
}

.col-2-left .main .tab-menu ul li:hover a, .col-2-left .main .tab-menu ul li.active a {
	background-image: url("../images/active.png");
	color: white;
}

.col-2-left .main .list {
	position: relative;
	padding: 15px 0px;
	background-image: url("../images/border.png");
	background-repeat: no-repeat;
	background-position: bottom;
}

.col-2-left .main .list img.entry-image {
	min-width: 13.51351351%;
	margin: 0% auto;
}

.col-2-left .main .list img.frame {
	min-width: 13.51351351%;
	position: absolute;
	top: 15px;
	left: 0px;
}

.col-2-left .main .list .info {
	width: 100%;
	text-align: center;
}

.col-2-left .main .list .info h2 {
	font-size: 14px;
	padding: 4px 0;
}

.col-2-left .main .list .info p {
	font-size: 12px;
	line-height: 18px;
}

.col-2-left .main .list .info ul {
	margin: 0% auto;
	width: 100%;
}

.col-2-left .main .list .info ul li {
	font-size: 12px;
	line-height: 14px;
	padding: 2px 0px;
}

/******************Footer****************/
.footer-wrapper .footer-menu ul li {
	text-align: center;
}

.footer-wrapper .footer-menu ul li a {
	font-size: 0.625em;
	color: #d4d4d4;
}

.footer-wrapper .copyright span {
	font-size: 0.625em;
}
