@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Extrabold';
	src: url('../fonts/OpenSans-ExtraBold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Semibold';
	src: url('../fonts/OpenSans-SemiBold.ttf');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Open Sans Semibold Italic';
	src: url('../fonts/OpenSans-SemiBoldItalic.ttf');
	font-weight: normal;
	font-style: normal;
}

/******************Header******************/
.header-wrapper .main-menu ul {
	list-style: none;
	text-align: center;
}

.header-wrapper .main-menu > ul > li {
	text-transform: uppercase;
	padding: 0em 1.6875em;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.header-wrapper .main-menu > ul > li:hover {
	background-color: #62a29e;
	border-radius: 0.3125em;
	box-shadow: 0em 0.1875em 0em 0em #528b86;
}

.header-wrapper .main-menu > ul > li > ul {
	display: none;
	top: 1.5em;
	left: 0em;
	width: 9.375em;
	z-index: 5;
	position: absolute;
	background-color: #62a29e;
}

.header-wrapper .main-menu > ul > li > ul > li > a {
	padding: 0.625em;
	text-transform: none;
	display: block;
}

.header-wrapper .main-menu > ul > li > ul > li > a:hover {
	background-color: #73b3af;
}

.header-wrapper .main-menu > ul > li:hover > ul {
	display: block;
}

.header-wrapper .main-menu > ul > li.sub-menu > a::before {
	content: url('../images/sub-menu-arrow.png');
	padding-right: 0.3125em;
}

.header-wrapper .main-menu > ul > li input {
	display: none;
	width: 10.625em;
	border-radius: 0.2em;
	padding: 0em 0.25em;
	border: 0.0625em;
}

.header-wrapper .main-menu > ul > li:last-child {
	margin-left: 0.625em;
	padding: 0em;
	display: inline;
}

.header-wrapper .main-menu > ul > li:last-child:hover {
	background-color: transparent;
	box-shadow: 0em 0em 0em 0em transparent;
}

.header-wrapper .main-menu > ul > li button {
	border: none;
	color: #ffffff;
	background-color: transparent;
	cursor: pointer;
}

.header-wrapper .main-menu ul li a {
	color: #ffffff;
	font-family: 'Open Sans Semibold';
	font-size: 0.8125em;
}

/******************Container*****************/
.content-wrapper h3 {
	padding: 0.5em 0em 0.4375em 0em;
	font-size: 1em;
	font-family: 'Open Sans Extrabold';
	color: #7f8c8c;
	text-transform: uppercase;
}

.content-wrapper p {
	font-size: 0.875em;
	line-height: 23px;
	margin: 15px 0px;
}

.content-wrapper .content-header {
	padding: 3.3125em 0em;
}

.content-wrapper .content-header h2 {
	font-weight: bold;
	font-size: 1.5625em;
	margin-left: 11px;
	float: left;
}

.content-wrapper .content-header i {
	font-size: 1.25em;
}

.content-wrapper .main-slider .slider-body {
	position: relative;
}

.content-wrapper .main-slider .slide-control {
	width: 100%;
	height: inherit;
	top: 50%;
	margin-top: -2.09375em;
	position: absolute;
}

.content-wrapper .main-slider .slide-control i {
	color: #ffffff;
	font-size: 2.5em;
}

.content-wrapper .main-slider .slide-control .left-control,
.content-wrapper .main-slider .slide-control .right-control {
	width: 3.125em;
	padding: 0.53125em 0em;
	text-align: center;
	background-color: #e8645a;
	box-shadow: 0em 0.1875em 0em 0em #e2534b;
}

.content-wrapper .main-slider .slide-control .left-control {
	float: left;
	border-radius: 0em 0.3125em 0.3125em 0em;
}

.content-wrapper .main-slider .slide-control .right-control {
	float: right;
	border-radius: 0.3125em 0em 0em 0.3125em;
}

.content-wrapper .main-slider ul {
	list-style: none;
	text-align: center;
}

.content-wrapper .main-slider ul.list li {
	display: none;
}

.content-wrapper .main-slider ul.list li.active {
	display: block;
}

.content-wrapper .main-slider ul.list li img {
 	max-width: 100%;
 	border-radius: 3px;
 	box-shadow: 0em 0.1875em 0em 0em #e5e6e6;
}

.content-wrapper .main-slider ul.nav li {
	display: inline;
	margin: 0em 0.5625em;
}

.content-wrapper .main-slider ul.nav li a {
	height: 0.3125em;
	width: 3.75em;
	display: inline-block;
	background-color: #b0b8b9;
}

.content-wrapper .main-slider ul.nav li a:hover, 
.content-wrapper .main-slider ul.nav li.active a {
	background-color: #e2534b;
}

.content-wrapper .detail > ul > li {
	padding: 1.125em 0em;
	border-bottom: 0.0625em #e1e2e2 solid;
	font-size: 0.8125em;
}

.content-wrapper .detail > ul > li span, 
.content-wrapper .detail > ul > li ul,
.content-wrapper .detail > ul > li a {
	float: right;
	color: #777777;
}

.content-wrapper .detail > ul > li a {
	color: #e2534b;
}

.content-wrapper .detail > ul > li i {
	display: inline-block;
	padding-right: 0.875em;
}

.content-wrapper .detail > ul > li:last-child {
	border: none;
}

.content-wrapper .project-slider .slider-content > li {
	width: 23.076923077%;
	position: relative;
}

.content-wrapper .project-slider .slider-content > li:hover .content-info {
	display: block;
}

.content-wrapper .project-slider .slider-content > li img {
	width: 100%;
	height: 16.875em;
	border-radius: 3px;
	box-shadow: 0em 0.1875em 0em 0em #e5e6e6;
}

.content-wrapper .project-slider .slider-content > li:hover {
	background-color: #83ccc5;
}

.content-wrapper .project-slider .slider-content .content-info {
	display: none;
	top: 0;
	width: 100%;
	height: 16.875em;
	border-radius: 3px;
	background-color: #83ccc5;
	position: absolute;
}

.content-wrapper .project-slider .slider-content .content-info ul.options {
	text-align: center;
	top: 40%;
	position: relative;
}

.content-wrapper .project-slider .slider-content .content-info li {
	margin: 0em 0.1875em;
	display: inline-block;
}

.content-wrapper .project-slider .slider-content .content-info li a {
	width: 1.25em;
	padding: 0.5625em 0.625em;
	display: inline-block;
	background-color: #76b7b1;
	border-radius: 0.3125em;
	color: #ffffff;
	text-align: center;
}

.content-wrapper .project-slider .slider-content .content-info li:hover a {
	background-color: #e2534b;
}

.content-wrapper .project-slider .slider-content .content-info li a i {
	font-size: 1.25em;
}

.content-wrapper .project-slider .slider-content .content-info span {
	font-family: 'Open Sans Semibold';
	text-align: center;
	display: block;
	color: #ffffff;
	font-size: 1em;
	top: 62%;
	position: relative;
}

/******************Footer******************/
.footer-wrapper h3 {
	font-size: 1.25em;
	font-weight: bold;
	color: #497e79;
}

.footer-wrapper .website-info p {
	color: #ffffff;
	font-size: 0.8125em;
	padding: 1.0625em 0em;
}

.footer-wrapper .website-info ul li span {
	display: block;
	float: left;
}

.footer-wrapper .website-info ul li span.term {
	padding: 5px 0px 4px 0px;
	font-size: 0.8125em;
	width: 4.0625em;
}

.footer-wrapper .website-info ul li span.description {
	font-family: 'Open Sans Semibold Italic';
	font-size: 1.25em;
}

.footer-wrapper .list ul {
	list-style: url('../images/list-arrow.png') inside;
	padding-top: 1.5625em;
}

.footer-wrapper .list li {
	padding-left: 1.5625em;
}

.footer-wrapper .list li a {
	font-size: 0.8125em;
	color: #ffffff;
}

.footer-wrapper .blog-info .heading {
	font-style: italic;
	font-size: 1.25em;
}

.footer-wrapper .blog-info .heading span {
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
}

.footer-wrapper .blog-info p {
	font-size: 0.8125em;
	color: #ffffff;
}

.footer-wrapper .blog-info ul.blog-list {
	padding-top: 0.8125em;
}

.footer-wrapper .blog-info ul.blog-list li {
	padding: 0.625em 0em;
}

.footer-wrapper .blog-info ul.blog-list span {
	font-size: 0.8125em;
	color: #497e79;
}

.footer-wrapper .blog-info ul.blog-list img {
	height: 4.375em;
	width: 4.375em;
	margin-right: 1.125em;
	border-radius: 0.3125em;
}

.footer-wrapper .owner-section .copyright {
	font-size: 0.75em;
	padding: 0.3125em 0em 0.3125em 0.5em;
}

.footer-wrapper .owner-section ul.social-media {
	list-style: none;
}

.footer-wrapper .owner-section ul.social-media li {
	float: left;
}

.footer-wrapper .owner-section ul.social-media li a {
	color: #ffffff;
}

.footer-wrapper .owner-section ul.social-media li i {
	font-size: 1.4375em;
}

.footer-wrapper .owner-section ul.social-media li+li:before {
	content: '';
	padding: 0em 0.875em;
}

/***************Common***************/
span.modus {
	font-family: 'Open Sans Extrabold';
	font-size: 1.875em; /*30px*/
	text-transform: uppercase;
}

span.versus {
	font-size: 1.5625em; /*25px*/
}

ul.breadcrumb {
	list-style: none;
}

ul.breadcrumb li {
	padding: 0.3125em 0em;
	font-size: 0.75em;
	float: left;
}

ul.breadcrumb li+li:before {
	content: "/";
	padding: 0em 0.5625em;
	float: left;
}

ul.breadcrumb li a {
	color: #7f8c8c;
}

ul.breadcrumb li a:hover {
	color: #e1524b;
}

ul.controls {
	padding-left: 1.75em;
	float: right;
	background-color: #f3f3f3;
}

ul.controls li {
	height: 1.0625em;
	width: 2.5em;
	margin: 0em 0.625em;
	padding: 0.625em 0em;
	color: #ffffff;
	background-color: #98a3a3;
	float: left;
	box-shadow: 0em 0.1875em 0em 0em #7f8c8c;
	border-radius: 0.3125em;
	text-align: center;
	cursor: pointer;
}

ul.controls li:hover {
	background-color: #e2534b;
	box-shadow: 0em 0.1875em 0em 0em #e2534b;
}

ul.inline li:first-child {
	margin-left: 0em;
	padding-left: 0em;
}

ul.inline li:last-child {
	margin-right: 0em;
	padding-right: 0em;
}

.clearfix::before, .clearfix::after {
	content: '';
	display: table;
}

.clearfix::after {
	clear: both;
}
